<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_SSH_Upload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Auto_SSH_Upload.Properties.Settings>
            <setting name="ssh_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="ssh_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ssh_username" serializeAs="String">
                <value />
            </setting>
            <setting name="ssh_passwd" serializeAs="String">
                <value />
            </setting>
            <setting name="remember_pw" serializeAs="String">
                <value>False</value>
            </setting>
        </Auto_SSH_Upload.Properties.Settings>
    </userSettings>
</configuration>